/*
Error: Undefined variable: "$white-ter".
        on line 1 of C:/Users/Felps/github/agend-sala-reunioes/agend-sala/agend-sala-web/src/main/resources/scss/bulma/sass/base/generic.sass

1: $body-background: $white-ter !default
2: 
3: html
4:   background-color: $body-background
5:   font-size: $size-normal
6:   -moz-osx-font-smoothing: grayscale

Backtrace:
C:/Users/Felps/github/agend-sala-reunioes/agend-sala/agend-sala-web/src/main/resources/scss/bulma/sass/base/generic.sass:1
uri:classloader:/gems/sass-3.4.19/lib/sass/script/tree/variable.rb:49:in `_perform'
uri:classloader:/gems/sass-3.4.19/lib/sass/script/tree/node.rb:50:in `perform'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:469:in `visit_variable'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `visit'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
uri:classloader:/gems/sass-3.4.19/lib/sass/stack.rb:79:in `block in with_base'
uri:classloader:/gems/sass-3.4.19/lib/sass/stack.rb:115:in `with_frame'
uri:classloader:/gems/sass-3.4.19/lib/sass/stack.rb:79:in `with_base'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `visit'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
org/jruby/RubyArray.java:2300:in `map'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:52:in `visit_children'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `block in visit'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `visit'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:161:in `visit'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:8:in `visit'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/root_node.rb:36:in `css_tree'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
uri:classloader:/gems/sass-3.4.19/lib/sass/engine.rb:378:in `_render_with_sourcemap'
uri:classloader:/gems/sass-3.4.19/lib/sass/engine.rb:295:in `render_with_sourcemap'
uri:classloader:/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
uri:classloader:/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
org/jruby/RubyArray.java:1560:in `each'
uri:classloader:/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
uri:classloader:/gems/sass-3.4.19/lib/sass/plugin.rb:82:in `update_stylesheets'
<script>:22:in `<top>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$white-ter\".\A         on line 1 of C:/Users/Felps/github/agend-sala-reunioes/agend-sala/agend-sala-web/src/main/resources/scss/bulma/sass/base/generic.sass\A \A 1: $body-background: $white-ter !default\A 2: \A 3: html\A 4:   background-color: $body-background\A 5:   font-size: $size-normal\A 6:   -moz-osx-font-smoothing: grayscale"; }
