/*
Error: Undefined mixin 'mobile'.
        on line 9 of C:/Users/Felps/github/agend-sala-reunioes/agend-sala/agend-sala-web/src/main/resources/scss/bulma/sass/base/helpers.sass, in `mobile'
        from line 9 of C:/Users/Felps/github/agend-sala-reunioes/agend-sala/agend-sala-web/src/main/resources/scss/bulma/sass/base/helpers.sass

4: 
5: @each $display in $displays
6:   .is-#{$display}
7:     display: #{$display}
8:   .is-#{$display}-mobile
9:     +mobile
10:       display: #{$display} !important
11:   .is-#{$display}-tablet
12:     +tablet
13:       display: #{$display} !important
14:   .is-#{$display}-tablet-only

Backtrace:
C:/Users/Felps/github/agend-sala-reunioes/agend-sala/agend-sala-web/src/main/resources/scss/bulma/sass/base/helpers.sass:9:in `mobile'
C:/Users/Felps/github/agend-sala-reunioes/agend-sala/agend-sala-web/src/main/resources/scss/bulma/sass/base/helpers.sass:9
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:349:in `block in visit_mixin'
uri:classloader:/gems/sass-3.4.19/lib/sass/stack.rb:98:in `block in with_mixin'
uri:classloader:/gems/sass-3.4.19/lib/sass/stack.rb:115:in `with_frame'
uri:classloader:/gems/sass-3.4.19/lib/sass/stack.rb:98:in `with_mixin'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:347:in `visit_mixin'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `visit'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
uri:classloader:/gems/sass-3.4.19/lib/sass/stack.rb:79:in `block in with_base'
uri:classloader:/gems/sass-3.4.19/lib/sass/stack.rb:115:in `with_frame'
uri:classloader:/gems/sass-3.4.19/lib/sass/stack.rb:79:in `with_base'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `visit'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:431:in `block in visit_rule'
org/jruby/RubyArray.java:2300:in `map'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:431:in `block in visit_rule'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:429:in `visit_rule'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `visit'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
uri:classloader:/gems/sass-3.4.19/lib/sass/stack.rb:79:in `block in with_base'
uri:classloader:/gems/sass-3.4.19/lib/sass/stack.rb:115:in `with_frame'
uri:classloader:/gems/sass-3.4.19/lib/sass/stack.rb:79:in `with_base'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `visit'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:240:in `block in visit_each'
org/jruby/RubyArray.java:2300:in `map'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:240:in `block in visit_each'
org/jruby/RubyArray.java:2300:in `map'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:232:in `block in visit_each'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:231:in `visit_each'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `visit'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
uri:classloader:/gems/sass-3.4.19/lib/sass/stack.rb:79:in `block in with_base'
uri:classloader:/gems/sass-3.4.19/lib/sass/stack.rb:115:in `with_frame'
uri:classloader:/gems/sass-3.4.19/lib/sass/stack.rb:79:in `with_base'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `visit'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
org/jruby/RubyArray.java:2300:in `map'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:52:in `visit_children'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `block in visit'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `visit'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:161:in `visit'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:8:in `visit'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/root_node.rb:36:in `css_tree'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
uri:classloader:/gems/sass-3.4.19/lib/sass/engine.rb:378:in `_render_with_sourcemap'
uri:classloader:/gems/sass-3.4.19/lib/sass/engine.rb:295:in `render_with_sourcemap'
uri:classloader:/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
uri:classloader:/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
org/jruby/RubyArray.java:1560:in `each'
uri:classloader:/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
uri:classloader:/gems/sass-3.4.19/lib/sass/plugin.rb:82:in `update_stylesheets'
<script>:22:in `<top>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'mobile'.\A         on line 9 of C:/Users/Felps/github/agend-sala-reunioes/agend-sala/agend-sala-web/src/main/resources/scss/bulma/sass/base/helpers.sass, in `mobile'\A         from line 9 of C:/Users/Felps/github/agend-sala-reunioes/agend-sala/agend-sala-web/src/main/resources/scss/bulma/sass/base/helpers.sass\A \A 4: \A 5: @each $display in $displays\A 6:   .is-#{$display}\A 7:     display: #{$display}\A 8:   .is-#{$display}-mobile\A 9:     +mobile\A 10:       display: #{$display} !important\A 11:   .is-#{$display}-tablet\A 12:     +tablet\A 13:       display: #{$display} !important\A 14:   .is-#{$display}-tablet-only"; }
