/*
Error: Undefined variable: "$border".
        on line 2 of C:/Users/Felps/github/agend-sala-reunioes/agend-sala/agend-sala-web/src/main/resources/scss/bulma/sass/components/message.sass

1: .message-body
2:   border: 1px solid $border
3:   border-radius: $radius
4:   padding: 12px 15px
5:   strong
6:     color: inherit
7: 

Backtrace:
C:/Users/Felps/github/agend-sala-reunioes/agend-sala/agend-sala-web/src/main/resources/scss/bulma/sass/components/message.sass:2
uri:classloader:/gems/sass-3.4.19/lib/sass/script/tree/variable.rb:49:in `_perform'
uri:classloader:/gems/sass-3.4.19/lib/sass/script/tree/node.rb:50:in `perform'
uri:classloader:/gems/sass-3.4.19/lib/sass/script/tree/list_literal.rb:63:in `block in _perform'
org/jruby/RubyArray.java:2300:in `map'
uri:classloader:/gems/sass-3.4.19/lib/sass/script/tree/list_literal.rb:62:in `_perform'
uri:classloader:/gems/sass-3.4.19/lib/sass/script/tree/node.rb:50:in `perform'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:395:in `visit_prop'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `visit'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
uri:classloader:/gems/sass-3.4.19/lib/sass/stack.rb:79:in `block in with_base'
uri:classloader:/gems/sass-3.4.19/lib/sass/stack.rb:115:in `with_frame'
uri:classloader:/gems/sass-3.4.19/lib/sass/stack.rb:79:in `with_base'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `visit'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:431:in `block in visit_rule'
org/jruby/RubyArray.java:2300:in `map'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:431:in `block in visit_rule'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:429:in `visit_rule'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `visit'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
uri:classloader:/gems/sass-3.4.19/lib/sass/stack.rb:79:in `block in with_base'
uri:classloader:/gems/sass-3.4.19/lib/sass/stack.rb:115:in `with_frame'
uri:classloader:/gems/sass-3.4.19/lib/sass/stack.rb:79:in `with_base'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `visit'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
org/jruby/RubyArray.java:2300:in `map'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:52:in `visit_children'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `block in visit'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `visit'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:161:in `visit'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:8:in `visit'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/root_node.rb:36:in `css_tree'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
uri:classloader:/gems/sass-3.4.19/lib/sass/engine.rb:378:in `_render_with_sourcemap'
uri:classloader:/gems/sass-3.4.19/lib/sass/engine.rb:295:in `render_with_sourcemap'
uri:classloader:/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
uri:classloader:/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
org/jruby/RubyArray.java:1560:in `each'
uri:classloader:/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
uri:classloader:/gems/sass-3.4.19/lib/sass/plugin.rb:82:in `update_stylesheets'
<script>:22:in `<top>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$border\".\A         on line 2 of C:/Users/Felps/github/agend-sala-reunioes/agend-sala/agend-sala-web/src/main/resources/scss/bulma/sass/components/message.sass\A \A 1: .message-body\A 2:   border: 1px solid $border\A 3:   border-radius: $radius\A 4:   padding: 12px 15px\A 5:   strong\A 6:     color: inherit\A 7: "; }
