/*
Error: Undefined mixin 'mobile'.
        on line 43 of C:/Users/Felps/github/agend-sala-reunioes/agend-sala/agend-sala-web/src/main/resources/scss/bulma/sass/grid/columns.sass, in `mobile'
        from line 43 of C:/Users/Felps/github/agend-sala-reunioes/agend-sala/agend-sala-web/src/main/resources/scss/bulma/sass/grid/columns.sass

38:     .columns.is-mobile > &.is-#{$i}
39:       flex: none
40:       width: ($i / 12) * 100%
41:     .columns.is-mobile > &.is-offset-#{$i}
42:       margin-left: ($i / 12) * 100%
43:   +mobile
44:     &.is-narrow-mobile
45:       flex: none
46:     &.is-full-mobile
47:       flex: none
48:       width: 100%

Backtrace:
C:/Users/Felps/github/agend-sala-reunioes/agend-sala/agend-sala-web/src/main/resources/scss/bulma/sass/grid/columns.sass:43:in `mobile'
C:/Users/Felps/github/agend-sala-reunioes/agend-sala/agend-sala-web/src/main/resources/scss/bulma/sass/grid/columns.sass:43
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:349:in `block in visit_mixin'
uri:classloader:/gems/sass-3.4.19/lib/sass/stack.rb:98:in `block in with_mixin'
uri:classloader:/gems/sass-3.4.19/lib/sass/stack.rb:115:in `with_frame'
uri:classloader:/gems/sass-3.4.19/lib/sass/stack.rb:98:in `with_mixin'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:347:in `visit_mixin'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `visit'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
uri:classloader:/gems/sass-3.4.19/lib/sass/stack.rb:79:in `block in with_base'
uri:classloader:/gems/sass-3.4.19/lib/sass/stack.rb:115:in `with_frame'
uri:classloader:/gems/sass-3.4.19/lib/sass/stack.rb:79:in `with_base'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `visit'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:431:in `block in visit_rule'
org/jruby/RubyArray.java:2300:in `map'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:431:in `block in visit_rule'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:429:in `visit_rule'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `visit'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
uri:classloader:/gems/sass-3.4.19/lib/sass/stack.rb:79:in `block in with_base'
uri:classloader:/gems/sass-3.4.19/lib/sass/stack.rb:115:in `with_frame'
uri:classloader:/gems/sass-3.4.19/lib/sass/stack.rb:79:in `with_base'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `visit'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
org/jruby/RubyArray.java:2300:in `map'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:52:in `visit_children'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `block in visit'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `visit'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:161:in `visit'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:8:in `visit'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/root_node.rb:36:in `css_tree'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
uri:classloader:/gems/sass-3.4.19/lib/sass/engine.rb:378:in `_render_with_sourcemap'
uri:classloader:/gems/sass-3.4.19/lib/sass/engine.rb:295:in `render_with_sourcemap'
uri:classloader:/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
uri:classloader:/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
org/jruby/RubyArray.java:1560:in `each'
uri:classloader:/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
uri:classloader:/gems/sass-3.4.19/lib/sass/plugin.rb:82:in `update_stylesheets'
<script>:22:in `<top>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'mobile'.\A         on line 43 of C:/Users/Felps/github/agend-sala-reunioes/agend-sala/agend-sala-web/src/main/resources/scss/bulma/sass/grid/columns.sass, in `mobile'\A         from line 43 of C:/Users/Felps/github/agend-sala-reunioes/agend-sala/agend-sala-web/src/main/resources/scss/bulma/sass/grid/columns.sass\A \A 38:     .columns.is-mobile > &.is-#{$i}\A 39:       flex: none\A 40:       width: ($i / 12) * 100%\A 41:     .columns.is-mobile > &.is-offset-#{$i}\A 42:       margin-left: ($i / 12) * 100%\A 43:   +mobile\A 44:     &.is-narrow-mobile\A 45:       flex: none\A 46:     &.is-full-mobile\A 47:       flex: none\A 48:       width: 100%"; }
