/*
Error: Undefined mixin 'overlay'.
        on line 18 of C:/Users/Felps/github/agend-sala-reunioes/agend-sala/agend-sala-web/src/main/resources/scss/bulma/sass/elements/image.sass, in `overlay'
        from line 18 of C:/Users/Felps/github/agend-sala-reunioes/agend-sala/agend-sala-web/src/main/resources/scss/bulma/sass/elements/image.sass

13:   &.is-4by3,
14:   &.is-3by2,
15:   &.is-16by9,
16:   &.is-2by1
17:     img
18:       +overlay
19:       height: 100%
20:       width: 100%
21:   &.is-square,
22:   &.is-1by1
23:     padding-top: 100%

Backtrace:
C:/Users/Felps/github/agend-sala-reunioes/agend-sala/agend-sala-web/src/main/resources/scss/bulma/sass/elements/image.sass:18:in `overlay'
C:/Users/Felps/github/agend-sala-reunioes/agend-sala/agend-sala-web/src/main/resources/scss/bulma/sass/elements/image.sass:18
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:349:in `block in visit_mixin'
uri:classloader:/gems/sass-3.4.19/lib/sass/stack.rb:98:in `block in with_mixin'
uri:classloader:/gems/sass-3.4.19/lib/sass/stack.rb:115:in `with_frame'
uri:classloader:/gems/sass-3.4.19/lib/sass/stack.rb:98:in `with_mixin'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:347:in `visit_mixin'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `visit'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
uri:classloader:/gems/sass-3.4.19/lib/sass/stack.rb:79:in `block in with_base'
uri:classloader:/gems/sass-3.4.19/lib/sass/stack.rb:115:in `with_frame'
uri:classloader:/gems/sass-3.4.19/lib/sass/stack.rb:79:in `with_base'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `visit'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:431:in `block in visit_rule'
org/jruby/RubyArray.java:2300:in `map'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:431:in `block in visit_rule'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:429:in `visit_rule'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `visit'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
uri:classloader:/gems/sass-3.4.19/lib/sass/stack.rb:79:in `block in with_base'
uri:classloader:/gems/sass-3.4.19/lib/sass/stack.rb:115:in `with_frame'
uri:classloader:/gems/sass-3.4.19/lib/sass/stack.rb:79:in `with_base'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `visit'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:431:in `block in visit_rule'
org/jruby/RubyArray.java:2300:in `map'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:431:in `block in visit_rule'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:429:in `visit_rule'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `visit'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
uri:classloader:/gems/sass-3.4.19/lib/sass/stack.rb:79:in `block in with_base'
uri:classloader:/gems/sass-3.4.19/lib/sass/stack.rb:115:in `with_frame'
uri:classloader:/gems/sass-3.4.19/lib/sass/stack.rb:79:in `with_base'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `visit'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:431:in `block in visit_rule'
org/jruby/RubyArray.java:2300:in `map'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:431:in `block in visit_rule'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:429:in `visit_rule'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `visit'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
uri:classloader:/gems/sass-3.4.19/lib/sass/stack.rb:79:in `block in with_base'
uri:classloader:/gems/sass-3.4.19/lib/sass/stack.rb:115:in `with_frame'
uri:classloader:/gems/sass-3.4.19/lib/sass/stack.rb:79:in `with_base'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `visit'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
org/jruby/RubyArray.java:2300:in `map'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:52:in `visit_children'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `block in visit'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `visit'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:161:in `visit'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:8:in `visit'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/root_node.rb:36:in `css_tree'
uri:classloader:/gems/sass-3.4.19/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
uri:classloader:/gems/sass-3.4.19/lib/sass/engine.rb:378:in `_render_with_sourcemap'
uri:classloader:/gems/sass-3.4.19/lib/sass/engine.rb:295:in `render_with_sourcemap'
uri:classloader:/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
uri:classloader:/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
org/jruby/RubyArray.java:1560:in `each'
uri:classloader:/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
uri:classloader:/gems/sass-3.4.19/lib/sass/plugin.rb:82:in `update_stylesheets'
<script>:22:in `<top>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'overlay'.\A         on line 18 of C:/Users/Felps/github/agend-sala-reunioes/agend-sala/agend-sala-web/src/main/resources/scss/bulma/sass/elements/image.sass, in `overlay'\A         from line 18 of C:/Users/Felps/github/agend-sala-reunioes/agend-sala/agend-sala-web/src/main/resources/scss/bulma/sass/elements/image.sass\A \A 13:   &.is-4by3,\A 14:   &.is-3by2,\A 15:   &.is-16by9,\A 16:   &.is-2by1\A 17:     img\A 18:       +overlay\A 19:       height: 100%\A 20:       width: 100%\A 21:   &.is-square,\A 22:   &.is-1by1\A 23:     padding-top: 100%"; }
