<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Convite</title>
    </head>
    <body>
        <div id="conteudo">
            <p>Olá,</p>
            <p>Há um conflito de horário entre as suas reuniões.</p>
            <br/>
            <p>O último agendamento causou um conflito de horários com outros agendamentos.</p>
            <br/>
            <p><strong>Detalhes do último agendamento</strong></p>
            <p><strong>Descrição</strong>: <span>{{descricao}}</span></p>
            <p><strong>Sala</strong>: <span>{{sala}}</span></p>
            <p><strong>Hora de inicio</strong>: <span>{{horaInicio}}</span></p>
            <p><strong>Criador</strong>: <span>{{criador}}</span></p>
            <br/>

            <p>Verifique seus agendamentos.</p>

            <p>Obrigado!</p>


            <div id="sign-sample">
                <table width="270" cellpadding="0" cellspacing="0">
                    <tbody><tr>
                            <td colspan="2" style="padding-bottom: 3px;">
                                <p style="color: #000; font-size: small; font-family:Georgia; margin: 0">
                                    <b>
                                        <i>
                                            Reuniões
                                        </i>
                                    </b>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td style="border-right: 1px dotted #666; line-height: 12px; color: #666; font-size: xx-small; font-family:Arial, Helvetica, sans-serif">
                                CWI Software - CMMI Nível 3<br>
                                Recursos Humanos
                            </td>
                            <td style="padding-left: 10px; line-height: 12px; color: #666; font-size:xx-small; font-family:Arial, Helvetica, sans-serif">
                                (51) 3092-7500<br>
                                <a href="http://www.cwi.com.br">
                                    http://www.cwi.com.br
                                </a>
                            </td>
                        </tr>
                    </tbody></table>
            </div>
        </div>
    </body>
</html>