<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head th:fragment="head(title)">
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" th:href="@{/css/style.css}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        <!--<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" />-->
        <title th:text="${title}"></title>
    </head>

    <body>
        <section th:fragment="header-login">
            <div class="hero-body">
                <img th:src="@{/css/logo.png}" class="image centered is-main-logo" />
            </div>
        </section>

                <section class="box" th:fragment="form-agendamento">
            <header class="content">
                <h1 th:text="#{agendamento.titulo}" />
            </header>
            <form id="frm-agendamento">
                <label class="label" th:text="#{agendamento.nome}" />
                <div class="control">
                    <input id="ag-nm" name="quantidade" class="input" type="number" />
                </div>
                <label class="label" th:text="#{agendamento.data}" />
                <div class="control">
                    <input id="ag-dat" name="data" class="input" type="text" />
                </div>
                <label class="label" th:text="#{agendamento.horainicio}" />
                <div class="control">
                    <input id="ag-hri" name="inicio" class="input" type="text" />
                </div>
                <label class="label" th:text="#{agendamento.horafinal}" />
                <div class="control">
                    <input id="ag-hrf" name="final" class="input" type="text" />
                </div>
                
                <a id="bt-post" class="button is-primary" th:text="#{agendamento.salvar}" />
            </form>
        </section>

        <section class="box" th:fragment="form-salas">
            <header class="content">
                <h1 th:text="#{salas.titulo}" />
            </header>
            <form id="frm-filtro">
                <label class="label" th:text="#{salas.pessoasporsala}" />
                <div class="control">
                    <input id="in-pps" name="quantidade" class="input" type="number" />
                </div>
                <label class="label" th:text="#{salas.data}" />
                <div class="control">
                    <input id="in-dat" name="data" class="input" type="text" />
                </div>
                <label class="label" th:text="#{salas.horainicio}" />
                <div class="control">
                    <input id="in-hri" name="inicio" class="input" type="text" />
                </div>
                <label class="label" th:text="#{salas.horafinal}" />
                <div class="control">
                    <input id="in-hrf" name="final" class="input" type="text" />
                </div>
                <label class="label" th:text="#{salas.equipamentos}" />
                <div class="control" id="in-eqp">
                    <input class="checkbox is-block" type="checkbox" th:each="equipamento : ${equipamentos}" th:text="${equipamento.nome}" th:value="${equipamento.id}" />
                </div>
                <a id="bt-get" class="button is-primary" th:text="#{salas.buscar}" />
            </form>
        </section>

        <section class="box content" th:fragment="lista-salas">
            <h2 th:text="#{salas.disponiveis}" />
            <article th:each="sala : ${salas}">
                <h2 class="is-medium" th:text="${sala.nome}" />
                <strong class="is-inline" th:text="#{salas.capacidade}" />
                <p class="is-inline" th:text="${sala.capacidade}" />
                <strong class="is-block" th:text="#{salas.possuiequipamentos}" />
                <ul>
                    <li th:each="equipamento : ${sala.equipamento}" th:text="${equipamento.nome}" /> 
                </ul>
                <hr />
            </article>
        </section>

        <section class="box container" th:fragment="agendamento-detalhes">
            <header class="content has-text-centered">
                <h1 th:text="${agendamento.descricao}" />
                <p class="is-inline" th:text="#{agendamento.marcadopor}" />
                <strong class="is-inline" th:text="${agendamento.criador.nome}" />
                <div class="has-upper-margin">
                    <h3 class="is-inline" th:text="#{agendamento.data}" />
                    <h1 class="is-inline" th:text="${#dates.format(agendamento.dataInicio, 'dd/MM/yyyy')}" />
                    <p th:text="#{agendamento.from} + ' ' + ${#dates.format(agendamento.dataInicio, 'hh:mm a')} + ' ' + #{agendamento.to} + ' ' + ${#dates.format(agendamento.dataFinal, 'hh:mm a')}" />
                    <hr />
                </div>
            </header>
            <article class="content">
                <div>
                    <strong th:text="#{agendamento.confirmados}" />
                    <ul>
                        <li th:each="confirmado : ${confirmados}" th:text="${confirmado.usuario.nome}" />
                    </ul>
                </div>
                <hr />
                <div>
                    <strong th:text="#{agendamento.pendentes}" />
                    <ul>
                        <li th:each="pendente : ${pendentes}" th:text="${pendente.usuario.nome}" />
                    </ul>
                </div>
                <hr />
                <div>
                    <strong th:text="#{agendamento.recusados}" />
                    <ul>
                        <li th:each="recusado : ${recusados}" th:text="${recusado.usuario.nome}" />
                    </ul>
                </div>
            </article>
            <footer th:if="${ehCriadorDoAgendamento}">
                <a class="button is-danger" th:href="@{/agendamento/cancelar/} + ${agendamento.id}">
                    <span th:text="#{agendamento.cancelar}"></span>
                </a>
            </footer>
        </section>
    </body>
</html>
