<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head th:fragment="head(title)">
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" th:href="@{/css/style.css}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        <title th:text="${title}"></title>
    </head>

    <body>
        <section th:fragment="header-login">
            <div class="hero-body">
                <img th:src="@{/css/logo.png}" class="image centered is-main-logo" />
            </div>
        </section>

        <section class="box" th:fragment="form-agendamento">
            <header class="content">
                <h1 th:text="#{agendamento.titulo}" />
            </header>
            <form id="frm-agendamento">
                <label class="label" th:text="#{agendamento.descricao}" />
                <div class="control">
                    <input id="ag-des" name="descricao" class="input" type="text" />
                </div>
                <section class="columns">
                    <div class="column">
                        <label class="label" th:text="#{agendamento.data}" />
                        <div class="control">
                            <input id="ag-dat" name="data" class="input" type="text" />
                        </div>
                    </div>
                    <div class="column">
                        <label class="label" th:text="#{agendamento.sala}"/>
                        <div class="control" id="ag-sl">
                            <span class="select">
                                <select th:unless="${saladefinida}" name="sala">
                                    <option th:each="sala : ${salas}" th:text="${sala.nome}" th:value="${sala.id}"></option>
                                </select>
                                <select th:if="${saladefinida}" name="sala">
                                    <option th:each="sala : ${salas}" th:text="${sala.nome}" th:value="${sala.id}" th:selected="${sala.id eq saladefinida.id}"></option>
                                </select>
                            </span>
                        </div>
                    </div>
                </section>
                <section class="columns">
                    <div class="column">
                        <label class="label" th:text="#{agendamento.horainicio}" />
                        <div class="control">
                            <input id="ag-hri" name="inicio" class="input" type="text" />
                        </div>
                    </div>
                    <div class="column">
                        <label class="label" th:text="#{agendamento.horafinal}" />
                        <div class="control">
                            <input id="ag-hrf" name="final" class="input" type="text" />
                        </div>     
                    </div>
                </section>
                <label class="label" th:text="#{agendamento.participante}" />
                <div class="control">
                    <table class="table table-section">
                        <thead>
                            <tr>
                                <th>
                                </th>
                                <th>
                                    <p th:text="#{agendamento.headnome}" />
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="ag-nm" th:each="usuario : ${usuarios}">
                                <td>
                                    <input type="checkbox" class="checkbox is-block" th:value="${usuario.id}" />
                                </td>
                                <td>
                                    <p th:text="${usuario.nome}" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="control is-right-aligned">
                    <a id="bt-post" class="button is-primary is-loader is-right" th:text="#{agendamento.salvar}" />
                </div>
            </form>
        </section>

        <section class="box" th:fragment="form-alterar">
            <header class="content">
                <h1 th:text="#{agendamento.titulo}" />
            </header>
            <form id="frm-alterar">
                <label class="label" th:text="#{agendamento.descricao}" />
                <div class="control">
                    <input id="al-des" name="descricao" class="input" type="text" th:value="${agendamento.descricao}" />
                </div>
                <section class="columns">
                    <div class="column">
                        <label class="label" th:text="#{agendamento.data}" />
                        <div class="control">
                            <input id="al-dat" name="data" class="input" type="text" th:value="${#dates.format(agendamento.dataInicio, 'dd/MM/yyyy')}"/>
                        </div>
                    </div>
                    <div class="column">
                        <label class="label" th:text="#{agendamento.sala}"/>
                        <div class="control" id="al-sl">
                            <span class="select" >
                                <select name="sala">
                                    <option th:each="sala : ${salas}" th:text="${sala.nome}" th:selected="${agendamento.sala.id eq sala.id}" th:value="${sala.id}"></option>
                                </select>                    
                            </span>
                        </div>
                    </div>
                </section>
                <section class="columns">
                    <div class="column">
                        <label class="label" th:text="#{agendamento.horainicio}" />
                        <div class="control">
                            <input id="al-hri" name="inicio" class="input" type="text" th:value="${#dates.format(agendamento.dataInicio, 'HH:mm')}"/>
                        </div>
                    </div>
                    <div class="column">
                        <label class="label" th:text="#{agendamento.horafinal}" />
                        <div class="control">
                            <input id="al-hrf" name="final" class="input" type="text" th:value="${#dates.format(agendamento.dataFinal, 'HH:mm')}"/>
                        </div>     
                    </div>
                </section>
                <label class="label" th:text="#{agendamento.participante}" />
                <div class="control">
                    <table class="table table-section">
                        <thead>
                            <tr>
                                <th>
                                </th>
                                <th>
                                    <p th:text="#{agendamento.headnome}" />
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="al-nm" th:each="usuario : ${usuarios}">
                                <td>
                                    <input type="checkbox" class="checkbox is-block" th:value="${usuario.id}" th:checked="${#lists.contains(participantes, usuario.id)}" />
                                </td>
                                <td>
                                    <p th:text="${usuario.nome}" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="control is-right-aligned">
                    <a id="bt-post" class="button is-primary is-loader" th:text="#{agendamento.alterar}" />
                </div>
            </form>
        </section>

        <section class="box" th:fragment="form-salas">
            <header class="content">
                <h1 th:text="#{salas.titulo}" />
            </header>
            <form id="frm-filtro">
                <section class="columns">
                    <div class="column">
                        <label class="label" th:text="#{salas.pessoasporsala}" />
                        <div class="control">
                            <input id="in-pps" name="quantidade" class="input" type="number" />
                        </div>
                    </div>
                    <div class="column">
                        <label class="label" th:text="#{salas.data}" />
                        <div class="control">
                            <input id="in-dat" name="data" class="input" type="text" />
                        </div>
                    </div>
                </section>
                <section class="columns">
                    <div class="column">
                        <label class="label" th:text="#{salas.horainicio}" />
                        <div class="control">
                            <input id="in-hri" name="inicio" class="input" type="text" />
                        </div>
                    </div>
                    <div class="column">
                        <label class="label" th:text="#{salas.horafinal}" />
                        <div class="control">
                            <input id="in-hrf" name="final" class="input" type="text" />
                        </div>
                    </div>
                </section>
                <label class="label" th:text="#{salas.equipamentos}" />
                <div class="control" >
                    <div class="control">
                        <table class="table table-section">
                            <thead>
                                <tr>
                                    <th>
                                    </th>
                                    <th>
                                        <p th:text="#{salas.headnome}" />
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="in-eqp">
                                <tr th:each="equipamento : ${equipamentos}" >
                                    <td>
                                        <input class="checkbox is-block" type="checkbox" th:value="${equipamento.id}" />
                                    </td>
                                    <td>
                                        <p th:text="${equipamento.nome}" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="control is-right-aligned">
                    <a id="bt-get" class="button is-primary is-loader" th:text="#{salas.buscar}" />
                </div>
            </form>
        </section>

        <section class="box content" th:fragment="lista-salas">
            <h2 th:text="#{salas.disponiveis}" />
            <article th:unless="${vazia}" th:each="sala : ${salas}">
                <h2 class="is-medium" th:text="${sala.nome}" />
                <section class="columns">
                    <div class="column">
                        <input id="salaid" type="hidden" th:value="${sala.id}" />
                        <strong class="is-inline" th:text="#{salas.capacidade}" />
                        <p class="is-inline" th:text="${sala.capacidade}" />
                        <strong class="is-block" th:text="#{salas.possuiequipamentos}" />
                        <ul>
                            <li th:each="equipamento : ${sala.equipamento}" th:text="${equipamento.nome}" /> 
                        </ul>
                    </div>
                    <div class="column is-right-aligned">
                        <a class="button is-success but-agendar" th:text="#{salas.agendar}"/>
                    </div>
                </section>
                <hr />
            </article>
            <article th:if="${vazia}">
                <h2 class="is-medium" th:text="#{salas.vazia}" />
            </article>
        </section>

        <section class="box container" th:fragment="agendamento-detalhes">
            <input id="ag-id" type="hidden" th:value="${agendamento.id}" />
            <header class="content has-text-centered">
                <h1 th:text="${agendamento.descricao}" />
                <p class="is-inline" th:text="#{agenddetalhes.marcadopor}" />
                <strong class="is-inline" th:text="${agendamento.criador.nome}" />
                <div class="has-upper-margin">
                    <h3 class="is-inline" th:text="#{agenddetalhes.data}" />
                    <h1 class="is-inline" th:text="${#dates.format(agendamento.dataInicio, 'dd/MM/yyyy')}" />
                    <p th:text="#{agenddetalhes.from} + ' ' + ${#dates.format(agendamento.dataInicio, 'hh:mm a')} + ' ' + #{agenddetalhes.to} + ' ' + ${#dates.format(agendamento.dataFinal, 'hh:mm a')}" />
                    <hr />
                </div>
            </header>
            <article class="content">
                <div>
                    <strong th:text="#{agenddetalhes.confirmados}" />
                    <ul>
                        <li th:each="confirmado : ${confirmados}" th:text="${confirmado.usuario.nome}" />
                    </ul>
                </div>
                <hr />
                <div  th:if="${pendentes.size()} != 0">
                    <strong th:text="#{agenddetalhes.pendentes}"/>
                    <ul>
                        <li th:each="pendente : ${pendentes}" th:text="${pendente.usuario.nome}" />
                    </ul>
                </div>
                <hr th:if="${pendentes.size()} != 0"/>
                <div>
                    <strong th:text="#{agenddetalhes.recusados}" th:if="${recusados.size()} != 0" />
                    <ul>
                        <li th:each="recusado : ${recusados}" th:text="${recusado.usuario.nome}" />
                    </ul>
                </div>
            </article>
            <footer th:if="${ehCriadorDoAgendamento}">
                <a id="agend-cancela" class="button is-danger is-loader">
                    <span th:text="#{agenddetalhes.cancelar}"></span>
                </a>
                <a id="agend-altera" class="button is-warning is-loader">
                    <span th:text="#{agenddetalhes.alterar}"></span>
                </a>
            </footer>
        </section>

        <section class="box content has-text-centered" th:fragment="confirmacao">
            <h1 th:text="#{confirmacao.titulo}"></h1>
            <a id="conf-nao" class="is-block is-half is-loader button is-large is-danger">
                <span th:text="#{confirmacao.nao}"></span>
            </a>
            <a id="conf-sim" class="is-block is-half is-loader button is-large is-success">
                <span th:text="#{confirmacao.sim}"></span>
            </a>
        </section>

        <section th:fragment="cancelamentomensagem">
            <p th:if="${sucesso}" class="notification is-success" th:text="#{cancelamentomensagem.sucesso}" />
            <p th:unless="${sucesso}" class="notification is-danger" th:text="#{cancelamentomensagem.erro}" />
        </section>

        <section th:fragment="agendamentomensagem">
            <p th:if="${sucesso}" class="notification is-success" th:text="#{agendamentomensagem.sucesso}" />
            <p th:unless="${sucesso}" class="notification is-danger" th:text="#{agendamentomensagem.erro}" />
        </section>

        <section th:fragment="alteracaomensagem">
            <p th:if="${sucesso}" class="notification is-success" th:text="#{alteracaomensagem.sucesso}" />
            <p th:unless="${sucesso}" class="notification is-danger" th:text="#{alteracaomensagem.erro}" />
        </section>

        <nav class="panel has-clear-background" th:fragment="reunioes">
            <p class="panel-heading" th:text="#{home.reunioes}">
            </p>
            <p class="panel-tabs">
                <a class="is-active" th:text="#{home.todosdias}"></a>
            </p>
            <a class="panel-block is-agendamento" th:each="participacao : ${participacoes}">
                <input type="hidden" class="is-id" th:value="${participacao.agendamento.id}" />
                <div>
                    <strong th:text="${participacao.agendamento.descricao}"></strong>
                    <span th:text="' ' + #{home.marcadopor} + ' ' + ${participacao.agendamento.criador.nome}"></span>
                </div>
                <div th:text="${#dates.format(participacao.agendamento.dataInicio, 'dd/MM/yyyy (hh:mm a - ') + #dates.format(participacao.agendamento.dataFinal, 'hh:mm a)')}">
                </div>
                <div>
                    <strong th:text="#{home.local}"></strong>
                    <span th:text="${participacao.agendamento.sala.nome}"></span>
                </div>
                <div>
                    <strong th:text="#{home.status}"></strong>
                    <span>
                        <p class="is-inline" th:text="' ' + ${participacao.status}" />
                        <span th:if="${participacao.status} eq ${confirmado}">
                            <i class="fa fa-circle is-success" aria-hidden="true"></i>
                        </span>
                        <span th:if="${participacao.status} eq ${pendente}">
                            <i class="fa fa-circle is-pendente" aria-hidden="true"></i>
                        </span>
                        <span th:if="${participacao.status} eq ${recusado}">
                            <i class="fa fa-circle is-recusado" aria-hidden="true"></i>
                        </span>
                    </span>
                </div>
            </a>
        </nav>

        <section th:fragment="salas" class="card column is-half-desktop is-half-tablet is-full-mobile" th:each="sala,iter : ${salas}">
            <header class="card-header hero is-primary">
                <strong class="card-header-title" th:text="${sala.nome}">
                </strong>
            </header>
            <article class="card-content">
                <div class="">
                    <progress class="progress is-info" th:value="${preenchimentoSalas[iter.index]}" max="100" />
                    <strong th:text="#{home.capacidade}"></strong>
                    <span th:text="${sala.capacidade} + ' ' + #{home.unicapacidade}"></span>
                </div>
                <div class="content">
                    <strong th:text="#{home.equipamentos}"></strong>
                    <ul>
                        <li th:each="equip : ${sala.equipamento}" th:text="${equip.nome}" />
                    </ul>
                </div>
            </article>
        </section>
    </body>
</html>
