<!DOCTYPE html>
<html>
    <head th:include="fragments :: head('Home')"></head>
    <body>
        <header class="hero is-primary">
            <nav class="nav">
                <div class="nav-left">
                    <a class="nav-item" href="http://cwi.com.br/">
                        <span class="icon">
                            <i class="fa fa-newspaper-o"></i>
                        </span>
                    </a>
                    <a class="nav-item" href="https://github.com/CWISoftware">
                        <span class="icon">
                            <i class="fa fa-github"></i>
                        </span>
                    </a>
                    <a class="nav-item" href="https://www.facebook.com/CWIsoftwareLtda">
                        <span class="icon">
                            <i class="fa fa-facebook"></i>
                        </span>
                    </a>
                </div>
                <div class="nav-center">
                    <a class="nav-item is-brand" th:href="@{/home}">
                        <img th:src="@{/css/logo-preto.png}" />
                    </a>
                </div>
                <span class="nav-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
                <div class="nav-right nav-menu">
                    <span class="nav-item">
                        <a class="button is-primary" th:href="@{/home}">
                            <span class="icon">
                                <i class="fa fa-home"></i>
                            </span>
                            <span th:text="#{nav.home}"></span>
                        </a>
                        <a class="button is-warning" th:href="@{/logout}">
                            <span class="icon">
                                <i class="fa fa-arrow-right"></i>
                            </span>
                            <span th:text="#{nav.signout}"></span>
                        </a>
                    </span>
                </div>
            </nav>
        </header>
        <section class="columns">
            <article class="column is-two-thirds container">
                <div class="card is-fullwidth" th:each="sala : ${salas}">
                    <header class="card-header">
                        <p class="card-header-title" th:text="${sala.nome}">
                        </p>
                    </header>
                    <article class="card-content">
                        <div class="">
                            <strong th:text="#{home.capacidade}"></strong>
                            <span th:text="${sala.capacidade} + ' ' + #{home.unicapacidade}"></span>
                        </div>
                        <div class="content">
                            <strong th:text="#{home.equipamentos}"></strong>
                            <ul>
                                <li th:each="equip : ${sala.equipamento}" th:text="${equip.nome}" />
                            </ul>
                        </div>
                    </article>
                </div>
            </article>
            <aside class="column is-one-third has-text-centered">
                <nav class="panel has-clear-background">
                    <p class="panel-heading">
                        Suas reuniões
                    </p>
                    <p class="panel-tabs">
                        <a class="is-active" href="#">Todos os dias</a>
                    </p>
                    <a class="panel-block" th:each="agendamento : ${agendamentos}">
                        <div>
                            <strong th:text="${agendamento.descricao}"></strong>
                            <span th:text="' ' + #{home.marcadopor} + ' ' + ${agendamento.criador.nome}"></span>
                        </div>
                        <div th:text="${#dates.format(agendamento.dataInicio, 'dd/MM/yyyy (hh:mm a - ') + #dates.format(agendamento.dataFinal, 'hh:mm a)')}">
                        </div>
                        <div>
                            <strong th:text="#{home.local}"></strong>
                            <span th:text="${agendamento.sala.nome}"></span>
                        </div>
                    </a>
                </nav>
            </aside>
        </section>
        <footer class="custom-footer has-text-centered content">
            <span>
                <p th:text="#{nav.logadocomo}"/>
            </span>
                <strong th:text="${sessao.nome}" />
        </footer>
    </body>
</html>
