<!DOCTYPE html>
<html>
    <head th:include="fragments :: head('Home')"></head>
    <body>
        <header class="hero is-primary">
            <nav class="nav">
                <div class="nav-left">
                </div>
                <div class="nav-center">
                    <a class="nav-item is-brand" th:href="@{/home}">
                        <img th:src="@{/css/logo-preto.png}" />
                    </a>
                </div>
                <span id="nav-toggler" class="nav-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
                <div id="nav-to-toggle" class="nav-right nav-menu">
                    <span class="nav-item">
                        <a class="button is-warning" th:href="@{/logout}">
                            <span class="icon">
                                <i class="fa fa-arrow-right"></i>
                            </span>
                            <span th:text="#{nav.signout}"></span>
                        </a>
                    </span>
                </div>
            </nav>
        </header>
        <div class="modal">
            <div class="modal-background"></div>
            <div class="modal-content">
            </div>
            <button class="modal-close"></button>
        </div>
        <section class="columns container is-fluid">
            <aside class="column is-one-third has-text-centered">
                <section id="pn-reunioes">
                    <nav class="panel has-clear-background" th:include="fragments :: reunioes">
                    </nav>
                </section>
                <section class="container is-fluid">
                    <div class="has-upper-margin">
                        <a id="but-filtro" class="button is-primary is-loader">
                            <span class="icon">
                                <i class="fa fa-filter"></i>
                            </span>
                            <span th:text="#{home.filtrosalas}"></span>
                        </a>
                    </div>
                    <div class="has-upper-margin">
                        <a id="but-agendamento" class="button is-success is-loader">
                            <span class="icon">
                                <i class="fa fa-plus"></i>
                            </span>
                            <span th:text="#{home.novoagendamento}"></span>
                        </a>
                    </div>
                </section>
            </aside>
            <article class="column is-two-thirds has-upper-margin">
                <div id="lista-salas" class="columns is-multiline is-mobile">
                </div>
            </article>
        </section>
        <footer class="custom-footer has-text-centered">
            <span>
                <p th:text="#{nav.logadocomo}"/>
            </span>
            <strong th:text="${sessao.nome}" />
        </footer>
        <script th:src="@{js/jquery.min.js}" />
        <script th:src="@{js/jquery-ui.min.js}" />
        <script th:src="@{js/jquery.validate.min.js}" />
        <script th:src="@{js/jquery.timepicker.min.js}" />
        <script th:src="@{js/_start.js}" />
    </body>
</html>
