<!DOCTYPE html>
<html>
    <head th:include="fragments :: head('Home')"></head>
    <body>
        <header class="hero is-primary">
            <nav class="nav">
                <div class="nav-left">
                    <a class="nav-item" href="http://cwi.com.br/">
                        <span class="icon">
                            <i class="fa fa-newspaper-o"></i>
                        </span>
                    </a>
                    <a class="nav-item" href="https://github.com/CWISoftware">
                        <span class="icon">
                            <i class="fa fa-github"></i>
                        </span>
                    </a>
                    <a class="nav-item" href="https://www.facebook.com/CWIsoftwareLtda">
                        <span class="icon">
                            <i class="fa fa-facebook"></i>
                        </span>
                    </a>
                </div>
                <div class="nav-center">
                    <a class="nav-item is-brand" th:href="@{/home}">
                        <img th:src="@{/css/logo-preto.png}" />
                    </a>
                </div>
                <span class="nav-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
                <div class="nav-right nav-menu">
                    <span class="nav-item">
                        <a class="button is-primary" th:href="@{/home}">
                            <span class="icon">
                                <i class="fa fa-home"></i>
                            </span>
                            <span th:text="#{nav.home}"></span>
                        </a>
                        <a class="button is-warning" th:href="@{/logout}">
                            <span class="icon">
                                <i class="fa fa-arrow-right"></i>
                            </span>
                            <span th:text="#{nav.signout}"></span>
                        </a>
                    </span>
                </div>
            </nav>
        </header>
        <section class="columns container is-fluid">
            <article class="column is-two-thirds has-upper-margin">
                <div class="columns is-multiline is-mobile">
                    <section class="card column is-half-desktop is-half-tablet is-full-mobile" th:each="sala : ${salas}">
                        <header class="card-header hero is-primary">
                            <strong class="card-header-title" th:text="${sala.nome}">
                            </strong>
                        </header>
                        <article class="card-content">
                            <div class="">
                                <strong th:text="#{home.capacidade}"></strong>
                                <span th:text="${sala.capacidade} + ' ' + #{home.unicapacidade}"></span>
                            </div>
                            <div class="content">
                                <strong th:text="#{home.equipamentos}"></strong>
                                <ul>
                                    <li th:each="equip : ${sala.equipamento}" th:text="${equip.nome}" />
                                </ul>
                            </div>
                        </article>
                    </section>
                </div>
            </article>
            <aside class="column is-one-third has-text-centered">
                <nav class="panel has-clear-background">
                    <p class="panel-heading" th:text="#{home.reunioes}">
                    </p>
                    <p class="panel-tabs">
                        <a class="is-active" th:text="#{home.todosdias}"></a>
                    </p>
                    <a class="panel-block" th:each="participacao : ${participacoes}">
                        <div>
                            <strong th:text="${participacao.agendamento.descricao}"></strong>
                            <span th:text="' ' + #{home.marcadopor} + ' ' + ${participacao.agendamento.criador.nome}"></span>
                        </div>
                        <div th:text="${#dates.format(participacao.agendamento.dataInicio, 'dd/MM/yyyy (hh:mm a - ') + #dates.format(participacao.agendamento.dataFinal, 'hh:mm a)')}">
                        </div>
                        <div>
                            <strong th:text="#{home.local}"></strong>
                            <span th:text="${participacao.agendamento.sala.nome}"></span>
                        </div>
                        <div>
                            <strong th:text="#{home.status}"></strong>
                            <span th:text="' ' + ${participacao.status}"></span>
                        </div>
                    </a>
                </nav>
            </aside>
        </section>
        <footer class="custom-footer has-text-centered content">
            <span>
                <p th:text="#{nav.logadocomo}"/>
            </span>
            <strong th:text="${sessao.nome}" />
        </footer>
    </body>
</html>
