<html>
    <head th:include="fragments :: head('Agendamento de reuniões')"></head>
    <body class="has-text-centered">
        <header th:include="fragments :: header-login" class="hero" style="margin-bottom: 20px;"></header>
        <div class="alert alert-success" th:if="${msg}">
            <strong>Sucesso!</strong> <span th:text="${msg}"></span>
        </div>
        <div class="box column is-offset-one-third is-one-third container ">
            <div class="content">
                <h2 class="is-large" th:text="#{login.formLogin}" />
                <article th:if="${param.error}" class="notification content is-danger">
                    <p class="subtitle" th:text="#{login.msgerro}"></p>
                </article>
                <article th:if="${param.logout}" class="notification content is-warning">
                    <p class="subtitle" th:text="#{login.msglogout}"></p>
                </article>
            </div>
            
            <form th:action="@{/login}" th:object="${usuario}" method="POST">
                <div class="control">
                    <label class="label" th:text="Email"></label>
                    <input class="input" type="email" name="username"/> 
                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{username}" class="helper is-danger"></span>
                </div>
                <div class="control">
                    <label class="label" th:text="Senha"></label>
                    <input class="input" type="password" name="password"/> 
                    <span th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}" class="helper is-danger"></span>
                </div>

                <div class="control">
                    <input class="button is-primary" type="submit" th:value="Entrar" />
                </div>
            </form>
        </div>
    </body>
</html>
