@charset "utf-8"

// Custom general definitions
$blue: #72d0eb // Update blue
$primary: #fbb041
$body-background: #32363f
$family-serif: "Georgia", serif // Add a serif family

img.centered
    margin: 0 auto

img.is-main-logo
    height: 100px

.custom-footer
    background-color: $primary
    padding: 20px 20px 30px

.has-clear-background
    background-color: #fefefe

.has-upper-margin
    margin-top: 10px

.ui-datepicker
    background-color: rgba(255,255,200,0.9)
    width: 200px

.ui-state-default
    color: #222222

@import "_bulma"

i.is-recusado
    color: #696969

i.is-pendente
    color: #FFFF00
    
i.is-success
    color: $success